html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
}
.ic_logo {
    height: 32px;
    width: auto;
    display: inline-block;
}

.Colmar_title {
    color:  rgb(65, 66, 68);
    font-size: 32px;
    font-weight: bold;
    display: inline-block
}
.Academy_title {
    color: gray;
    font-size: 32px;
    font-weight: normal;
    display: inline-block;
}
a {
    text-decoration: none;
    color:  rgb(65, 66, 68);
}
nav {
    display: block;
    float: right;
}

nav li {
    display: inline;
    font-size: 32px;
    padding: 16px;
}

.container1{
    display: flex;
    background-color: lightgray;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 24px;
    padding-left: 24px;
    align-items: center;
}
.bannerpic{
    width: 60%;
    height: 60%;
}

.Maintext1{
    margin: 24px;
}
h2{
    color:  rgb(65, 66, 68);
    font-size: 42px;
    text-align: center;
}
h3{
    color:  rgb(65, 66, 68);
    font-size: 36px;
    text-align: center;
}
.Start_Here_Button{
    background-color: rgb(65, 66, 68);
    color: white;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 32px;
    border: 0;
    box-shadow: none;

}
